<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Trung Tâm Kiểm Định</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên TT</th>
                                            <th>Email</th>
                                            <th>Địa Chỉ</th>
                                            <th>Số ĐT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each centers}}
                                            <tr>
                                                <th>{{this.index}}</th>
                                                <td>{{this.UserName}}</td>
                                                <td>{{this.Email}}</td>
                                                <td>{{this.Address}}</td>
                                                <td>{{this.PhoneNumber}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Doanh Nghiệp</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên Doanh Nghiệp</th>
                                                <th>Email</th>
                                                <th>Số ĐT</th>
                                                <th>Địa Chỉ</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {{#each businesses}}
                                                <tr>
                                                    <th>{{this.index}}</th>
                                                    <td> <a href="/admin/doanhnghiep/{{this._id}}">{{this.UserName}}</a> </td>
                                                    <td>{{this.Email}}</td>
                                                    <td>{{this.PhoneNumber}}</td>
                                                    <td class="color-primary">{{this.Address}}</td>
                                                </tr>
                                            {{/each}}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>

                
                <div class="row">
                    
                    <!-- /# column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Sản Phẩm</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Tên Sản Phẩm</th>
                                                <th>Status</th>
                                                <th>Nhà Sản Xuất</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each sanphams}}
                                                <tr>
                                                    <td><a href="/admin/sanpham/{{this._id}}">{{this.TenSanPham}}</a></td>
                                                    <td><span class="badge badge-primary px-2">Sale</span></td>
                                                    <td>{{this.NhaSanXuat}}</td>
                                                    <td class="color-primary">$21.56</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Chứng Chỉ Kiểm Định</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Date</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>Kolor Tea Shirt For Man</td>
                                                <td><span class="badge badge-primary px-2">Sale</span>
                                                </td>
                                                <td>January 22</td>
                                                <td class="color-primary">$21.56</td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>Kolor Tea Shirt For Women</td>
                                                <td><span class="badge badge-danger px-2">Tax</span>
                                                </td>
                                                <td>January 30</td>
                                                <td class="color-success">$55.32</td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>Blue Backpack For Baby</td>
                                                <td><span class="badge badge-success px-2">Extended</span>
                                                </td>
                                                <td>January 25</td>
                                                <td class="color-danger">$14.85</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Thông Tin Người Dùng</h4>
                                <div class="table-responsive">
                                    <table class="table header-border">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">User Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Quyen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>Jacklyn</td>
                                                <td>Jacklyn112_td@gmail.com</td>
                                                <td><span class="badge badge-primary px-2">Doanh Nghiep</span></td>
                                            </tr>

                                            <tr>
                                                <th>1</th>
                                                <td>Jacklyn</td>
                                                <td>Jacklyn112_td@gmail.com</td>
                                                <td><span class="badge badge-primary px-2">Doanh Nghiep</span> </td>
                                                
                                            </tr>

                                            <tr>
                                                <th>1</th>
                                                <td>Jacklyn</td>
                                                <td>Jacklyn112_td@gmail.com</td>
                                                <td><span class="badge badge-primary px-2">Doanh Nghiep</span></td>
                                                
                                            </tr>

                                            <tr>
                                                <th>1</th>
                                                <td>Jacklyn</td>
                                                <td>Jacklyn112_td@gmail.com</td>
                                                <td><span class="badge badge-success px-2">CQ Kiem Dinh</span></td>
                                                
                                            </tr>

                                            <tr>
                                                <th>1</th>
                                                <td>Jacklyn</td>
                                                <td>Jacklyn112_td@gmail.com</td>
                                                <td><span class="badge badge-success px-2">CQ Kiem Dinh</span></td>
                                                
                                            </tr>

                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Quy Trình Sản Xuất   </h4>
                                <div class="table-responsive">
                                    <table class="table header-border">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">User Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>Jacklyn</td>
                                                <td>G.Bearden</td>
                                                <td>@jacklyn</td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>Nancy</td>
                                                <td>J. Daniels</td>
                                                <td>@daniels</td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>Betty</td>
                                                <td>R. Christensen</td>
                                                <td>@betty</td>
                                            </tr>
                                            <tr>
                                                <th>4</th>
                                                <td>Lucinda</td>
                                                <td>D. Sears</td>
                                                <td>@lucinda</td>
                                            </tr>
                                            <tr>
                                                <th>5</th>
                                                <td>William</td>
                                                <td>T. Marks</td>
                                                <td>@william.marks</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Nodes</h4>
                                <div class="table-responsive">
                                    <table class="table header-border table-hover verticle-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Product</th>
                                                <th scope="col">Popularity</th>
                                                <th scope="col">Sales</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>Air Conditioner</td>
                                                <td>
                                                    <div class="progress" style="height: 10px">
                                                        <div class="progress-bar gradient-1" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div> 
                                                </td>
                                                <td><span class="label gradient-1 btn-rounded">70%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>Textiles</td>
                                                <td>
                                                    <div class="progress" style="height: 10px">
                                                        <div class="progress-bar gradient-2" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div> 
                                                </td>
                                                <td><span class="label btn-rounded gradient-2">70%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>Milk Powder</td>
                                                <td>
                                                    <div class="progress" style="height: 10px">
                                                        <div class="progress-bar gradient-3" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div> 
                                                </td>
                                                <td><span class="label btn-rounded gradient-3">70%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>4</th>
                                                <td>Vehicles</td>
                                                <td>
                                                    <div class="progress" style="height: 10px">
                                                        <div class="progress-bar gradient-8" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div> 
                                                </td>
                                                <td><span class="label gradient-8 btn-rounded">70%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>5</th>
                                                <td>Boats</td>
                                                <td>
                                                    <div class="progress" style="height: 10px">
                                                        <div class="progress-bar gradient-1" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div> 
                                                </td>
                                                <td><span class="label gradient-1 btn-rounded">70%</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>