<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/admin/danhsachttkđ">Danh Sách Trung Tâm Kiểm Định</a></li>
        </ol>
    </div>
</div>

<div class="col">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Danh Sách Trung Tâm Kiểm Định</h4>
            <div class="table-responsive">
                <table class="table header-border">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên Trung Tâm</th>
                            <th scope="col">Email</th>
                            <th scope="col">Địa Chỉ</th>
                            <th scope="col">Số Điện Thoại</th>
                            <th style="text-align:center ;" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}

                        <tr>
                            <th></th>
                            <td> <a href="/admin/ttkd/{{this._id}}"> {{this.UserName}}</a></td>
                            <td>{{this.Email}}</td>
                            <td>{{this.Address}}</td>
                            <td>{{this.PhoneNumber}}</td>
                            <td style="text-align: center;"><span><a href="/admin/ttkd/{{this._id}}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a onclick="return confirm('Are you sure?')" href="/admin/deletecenter?ID={{this._id}}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-danger"></i></a></span>
                            </td>
                        </tr>

                        {{/each}}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>