 <nav class="breadcrumb">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb-left">
                <li class="breadcrumb-left_items">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Trang chủ</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="/product">Sản phẩm</a>
                </li>
                <li class="breadcrumb-left_items pl-8">
                    <a href="/product/{{product._id}}">{{product.TenSanPham}}</a>
                </li>
            </ol>
        </div>
    </div>
</nav>


<div class="container">
    <div class="header-detail">
        <img class="header-detail_img" src="/uploads/{{product.Image}}" alt="">
        <div class="header-detail_product">
            <h3 class="header-detail_name">{{product.TenSanPham}}</h3>
            <span class="header-detail_price">Giá: Liên hệ</span>
        </div>
    </div>
    <div class="subheader-detail">
        <span class="detail-code">
            Mã sản phẩm
            <span class="detail-code_name">{{product._id}}</span>
        </span>
        <span class="detail-address">
            Nhà Sản Xuất:
            <span class="detail-address_name">{{product.NhaSanXuat}}</span>
        </span>
    </div>
</div>

<div class="container_shadow no-padding">
    <div class="container">
        <div class="form-list no-margin">
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-1-new.png" alt="">
                    <p class="form-detail_nameicon">Thông tin</p>
                </a>
            </div>
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-2-new.png" alt="">
                    <p class="form-detail_nameicon">Giấy tờ</p>
                </a>
            </div>
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-3-new.png" alt="">
                    <p class="form-detail_nameicon">Liên kết</p>
                </a>
            </div>
            <div class="form-item no-margin">
                <a href="" class="form-deatail_link">
                    <img class="form-detail_icon" src="/img/img/tab-4-new.png" alt="">
                    <p class="form-detail_nameicon">Nhật ký</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container_shadow">
    <div class="container">
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Mô tả</h3>
            <p class="form-detail_desc">
                {{product.MoTa}}
            </p>
        </div>
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Thành phần</h3>
            <p class="form-detail_desc">
                {{product.ThanhPhan}}
            </p>
        </div>
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Công dụng</h3>
            <p class="form-detail_desc">
                
                {{product.CongDung}}
            
            </p>
        </div>
        <div class="form-detail_content">
            <h3 class="form-detail_heading">Hướng dẫn sử dụng</h3>
            <p class="form-detail_desc">
                 {{product.HuongDanSuDung}}
            </p>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="form-relationship">
        <h2 class="form-relationship_category">Sản Phẩm Liên Quan</h2>
        <button class="left-btn"><i class="fa-solid fa-circle-chevron-right"></i></button>
        <button class="right-btn"><i class="fa-solid fa-circle-chevron-right"></i></button>

        <div class="relationship-container">
            <div class="relationship-cart">
                {{#each data}}
                <div class="form-item_1 ">
                    <div class="text-center">
                        <div class="form-item_product">
                            <img src="/uploads/{{this.Image}}" alt="anh" class="form-item_img">
                            <div class="form-item_position">
                                <a href="/product/{{this._id}}" class="form-item_position-link">Chi tiết</a>
                            </div>
                        </div>
                        <h3 class="form-item_heading"><a href="/product/{{this._id}}">{{this.TenSanPham}}</a></h3>
                        <p class="form-item_desc">{{this._id}}</p>
                    </div>
                </div> 
                {{/each}}
                
            </div>
        </div>
    </div>        
</div>

<footer>
    <div class="container_shadow">
        <div class="container">
            <div class="footer-list">
                <div class="footer-form">
                <div class="footer-logo">
                    <img src="/img/img/logo (1).png" alt="">
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-iOS.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-iOS.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-qr">
                    <p class="qr_type">Dành cho iOS</p>
                    <div class="form-qr_img">
                        <img src="/img/img/qrcode-CHPlay.png" alt="">
                        <a href="" class="footer-qr_link">
                            <img src="/img/img/logo-CHPlay.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-point.png" alt="">
                    <div class="footer-form_box">
                        <h3 class="footer-form_heading">Văn phòng miền Bắc</h3>
                        <p class="footer-form_desc">Tầng 12 Tòa nhà Diamond Flower, số 48 Lê Văn Lương, Khu đô thị mới
                        N1, phường Nhân Chính, quận Thanh Xuân, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="footer-form_item">
                    <img src="/img/img/icon-phone.png" alt="">
                    <p class="footer-form_desc">0902 195 488 - 0974 195 488</p>
                </div>
                <div class="footer-form_btn">
                    <a href="" class="footer-form_download">
                        Tải tài liệu về truy xuất nguồn gốc
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>


<script>

    var slider = document.querySelector('.relationship-cart');
    var nextbtn = document.querySelector('.right-btn');
    var backbtn = document.querySelector('.left-btn');
    var items = document.querySelectorAll('.form-item_1')
    var count = 0
    
    var widthSlider = 260 * (items.length - 4);
    console.log(widthSlider)
    nextbtn.addEventListener('click', function(){
        if(count <= widthSlider){
        count += 260;
        }
        if( count > widthSlider){
        count = 0;
        }
        slider.style.transform = `translateX(-${count}px)`;
    })
    backbtn.addEventListener('click', function(){
        if(count >= 0){
            count -= 260;
        }
        if(count < 0){
            count = 260 * (items.length - 4)
        }
        slider.style.transform = `translateX(-${count}px)`;

    })

    setInterval(() => {
    nextbtn.click();
    }, 10000);

</script>   