 <div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Center</a></li>
        </ol>
    </div>
</div>

<div class="col">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Sản Phẩm</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên Sản Phẩm</th>
                            <th>Nơi Sản Xuất</th>
                            <th>Nhà Sản Xuất</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each products}}
                            <tr>
                                <td><a href="/admin/sanpham/{{this._id}}">{{this.TenSanPham}}</a></td>
                                <td>{{this.NoiSanXuat}}</td>
                                <td>{{this.NhaSanXuat}}</td>
                                <td class="color-primary">$21.56</td>
                            </tr>
                        {{/each}}
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Doanh Nghiệp</h4>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên Doanh Nghiệp</th>
                                <th>Email</th>
                                <th>Số ĐT</th>
                                <th>Địa Chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                                <tr>
                                    <th>{{this.index}}</th>
                                    <td> <a href="/admin/doanhnghiep/{{this._id}}">{{this.UserName}}</a> </td>
                                    <td>{{this.Email}}</td>
                                    <td>{{this.PhoneNumber}}</td>
                                    <td class="color-primary">{{this.Address}}</td>
                                </tr>

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
